{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

{% block title %}{% trans "How to Place an Order" %}{% endblock title %}

{% block main %}
<section class="info">
    <div class="info_block">
        <div class="info__content">
            <div class="content__title">{% trans "Before placing an order, please read the order processing rules:" %}</div>
            <div class="content__text">
                <p>{% trans "Order Name:" %}</p>
                <p class="text__text">{% trans "• Provide a brief name for the order that clearly reflects its essence." %}</p>
                <p class="text__text">{% trans "• Avoid using general and indefinite names." %}</p>

                <p>{% trans "Description:" %}</p>
                <p class="text__text">{% trans "• Thoroughly describe the requirements and expectations for the order." %}</p>
                <p class="text__text">{% trans "• Specify all features that should be implemented in the order." %}</p>
                <p class="text__text">{% trans "• Provide any specifications or preferences, if any." %}</p>

                <p>{% trans "Budget:" %}</p>
                <p class="text__text">{% trans "• Specify a realistic budget for completing the order." %}</p>
                <p class="text__text">{% trans "• Take into account all expenses, including possible additional costs." %}</p>

                <p>{% trans "Desired Deadline:" %}</p>
                <p class="text__text">{% trans "• Select the desired deadline for completing the order from the options provided." %}</p>
                <p class="text__text">{% trans "• Consider the urgency and complexity of the order when choosing the deadline." %}</p>

                <p>{% trans "Files:" %}</p>
                <p class="text__text">{% trans "• It is desirable to have attached files that can help the performer better understand the order requirements." %}</p>
                <p class="text__text">{% trans "• You can add an archive with files for the project here. For example: design photos, layouts, PDF files, etc." %}</p>
                <p class="text__text">{% trans "• Make sure that the attached files meet the order requirements and can be easily understood." %}</p>
            </div>
        </div>
        <div class="info__button">
            <div class="button__info">
                <a class="info-submit" href="{% url "create_order" %}">{% trans "Yes, everything is clear, proceed to order" %}</a>
            </div>
        </div>
    </div>
</section>
{% endblock main %}

</html>
