{% extends "main/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}Как совершить заказ{% endblock title %}

{% block main %}
<section class="info">
    <div class="info_block">
        <div class="info__content">
            <div class="content__title">Прежде чем заказать прочтите правила по оформлению заказа:</div>
            <div class="content__text">
                <p>Название заказа:</p>
                <p class="text__text"> • Укажите краткое название для заказа, которое четко отражает его суть.</p>
                <p class="text__text"> • Избегайте использования общих и неопределенных названий.</p>

                <p>Описание:</p>
                <p class="text__text"> • Подробно опишите требования и ожидания к заказу.</p>
                <p class="text__text"> • Укажите все особенности, которые должны быть реализованы в заказе.</p>
                <p class="text__text"> • Предоставьте любые спецификации или предпочтения, если они есть.</p>

                <p>Бюджет:</p>
                <p class="text__text"> • Укажите реалистичный бюджет для выполнения заказа.</p>
                <p class="text__text"> • Учитывайте все затраты, включая возможные дополнительные расходы.</p>

                <p>Желаемый срок:</p>
                <p class="text__text"> • Выберите желаемый срок выполнения заказа из предложенных вариантов.</p>
                <p class="text__text"> • Учитывайте срочность заказа и его сложность при выборе срока.</p>

                <p>Файлы:</p>
                <p class="text__text"> • Желательно наличие прикрепленных файлов, которые могут помочь исполнителю лучше понять требования заказа.</p>
                <p class="text__text"> • Вы можете добавить сюда архив с файлами для проекта Например: фотографии дизайна, макеты, pdf-файлы и др.</p>
                <p class="text__text"> • Убедитесь, что прикрепленные файлы соответствуют требованиям заказа и могут быть легко восприняты.</p>
            </div>
        </div>
        <div class="info__button">
            <div class="button__info">
                <a class="info-submit" href="{% url "create_order" %}">Да все ясно, перейти к заказу</a>
            </div>
        </div>
    </div>
</section>
{% endblock main %}

</html>