{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

{% block title %}{% trans "Profile" %}{% endblock title %}

{% block main %}


<section class="profile">
    <div class="profile__container">
        {% if user.is_staff %}
            <div class="profile__title"><a href="{% url 'admin:index' %}">{% trans "Admin panel" %}</a><br><br></div>

        {% endif %}


        <div class="profile__title">{% trans "My profile:" %}</div>
        <div class="profile__info">
            <div class="profile__username">
                <div class="username__cap">{% trans "Username:" %}</div>
                <div class="username__username">{{ user.username|capfirst }}</div>

            </div>
            <div class="profile__email">
                <div class="email__cap">{% trans "Email address:" %}</div>
                <div class="email__email">{{ user.email|capfirst }}</div>
            </div>
            <div class="profile__name">
                <div class="name__cap">{% trans "First name:" %}</div>
                <div class="name__name">{{ user.first_name|capfirst }}</div>
            </div>
            <div class="profile__lastname">
                <div class="lastname__cap">{% trans "Last name:" %}</div>
                <div class="lastname__lastname">{{ user.last_name|capfirst }}</div>
            </div>

        </div>
            {% if success_message %}
            <div class="opacity" id="myModal">
                <div class="modal-form animate__animated animate__delay-1s animate__fadeInUp animate__fadeIn">
                    <div class="modal-content">
                        <div class="modal-title">🚀🎉{% trans "CONGRATULATIONS" %}🚀🎉</div>
                        <div class="modal-text">{% trans "Your order has been successfully created and will be processed as soon as possible. Please follow the order status" %}</div>
                    </div>
                    <div class="modal-button"><button id="closeModalBtn">{% trans "Got it" %}</button></div>
                </div>
            </div>
            {% endif %}

        <div class="orders__title">{% trans "Orders:" %}</div>
        <div class="profile__orders">
            {% if orders %}
                {% for order in orders %}
                    <div class="orders__box">
                        <div class="orders__order">
                            <div class="order__name">
                                <div class="name__cap">{% trans "Order:" %}</div>
                                <div class="name__name">{{ order.name }}</div>
                            </div>
                            <div class="order__description">
                                <div class="description__cap">{% trans "Description:" %}</div>
                                <div class="description__description">{{ order.description|safe|linebreaks }}</div>
                            </div>
                            <div class="order__targetgroup">
                                <div class="targetgroup__cap">{% trans "Target audience:" %}</div>
                                <div class="targetgroup__targetgroup">{{ order.targetgroup }}</div>
                            </div>
                            <div class="order__websitetype">
                                <div class="websitetype__cap">{% trans "Website type:" %}</div>
                                <div class="websitetype__websitetype">{{ order.get_websitetype_display }}</div>
                            </div>
                            <div class="order__budget">
                                <div class="budget__cap">{% trans "Budget:" %}</div>
                                <div class="budget__budget">{{ order.budget }} <p> €</p></div>
                            </div>
                            <div class="order__deadline">
                                <div class="deadline__cap">{% trans "Desired deadline:" %}</div>
                                <div class="deadline__deadline">{{ order.get_deadline_display }}</div>
                            </div>
                            <div class="order__deadline">
                                <div class="deadline__cap">{% trans "Contact type:" %}</div>
                                <div class="deadline__deadline">{{ order.get_socialnetworkchose_display }}: {{ order.socialnetwork }}</div>
                            </div>
                            <div class="order__files">
                                <div class="files__cap">{% trans "Files:" %}</div>
                                {% if order.files %}
                                <a href="{% url 'download_file' file_path=order.files.name %}" download>{{ order.files.name }}</a>
                                {% else %}
                                    <div class="files__files">{% trans "Files not provided..." %}</div>
                                {% endif %}
                            </div>
                            <div class="order__status">
                                <div class="status__cap">{% trans "Status:" %}</div>
                                <div class="status__status">{{ order.get_status_display }}</div>
                            </div>
                            {% if user.is_staff %}
                            <div class="order__status">
                                <div class="status__cap">{% trans "User:" %}</div>
                                <div class="status__status">{{ order.user.username|capfirst }}</div>
                            </div>
                            <div class="order__delete-button">
                                <form method="post" action="{% url 'delete_order' order.id %}">
                                    {% csrf_token %}
                                    <button class="delete-button" type="submit">{% trans "Delete order" %}</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="orders__box">
                <div class="orders__no-order">
                    <div class="no-order__title">{% trans "You don't have any orders 😢 ..." %}</div>
                    <div class="no-order__button">
                        <div class="mbr-section-btn" >
                            <a class="button-order" href="{% url "how_to_order" %}">{% trans "Place an order" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Находим кнопку для закрытия модального окна
        var closeModalBtn = document.getElementById('closeModalBtn');
        
        // Находим само модальное окно
        var modal = document.getElementById('myModal');
    
        // Добавляем обработчик события клика на кнопку
        closeModalBtn.addEventListener('click', function () {
            // Добавляем класс для скрытия модального окна
            modal.classList.add('hidden-modal');
        });
    });

</script>



{% endblock main %}
</html>